---
import Card from "@/components/Card/profile.astro";
import ArrowLeft from "@/icons/arrow-left.astro";
import Layout from "@/layouts/Layout.astro";
import { GET as getUser } from "@/pages/api/users/[slug]";
import type { User } from "@/schemas/user";

export const prerender = false;

const response = await getUser(Astro);
const user = (await response.json()) as User;
---

<Layout title="User">
    <div class="absolute top-4 left-4">
        <a
            href="/users/"
            class="bg-blue-500 text-white p-4 rounded-full flex items-center justify-center dark:bg-blue-600 dark:text-white"
        >
            <ArrowLeft />
        </a>
    </div>
    <Card {...user} />
</Layout>
